# This is a set of patterns that will map a file to a similarly named
# spec file in a spec/ directory

# EXAMPLE:
# lib/foo.coffee => spec/foo-spec.coffee
'.+/((?:(?!-spec).)*)\\.(.+)': [
  'spec/$1-spec.$2#create'
]

# EXAMPLE:
# spec/foo-spec.coffee => lib/foo.coffee
'.+/(.+)-spec\\.(.+)': [
  '*/$1.$2'
]
